<h2>Search Employees</h2>
<form action="/employees" method="get">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" value="<%=searchOptions.firstname%>" autofocus>
    <button type="submit">Search</button>
</form>
<br>

<% employees.forEach(employee => { %>
    <div><%= employee.firstname %></div>
  <% }) %>