<h2>Search Books</h2>
<form action="/books" method="get">
    <%- include('_form_fieldsToIndex.ejs') %>

    
    <button type="submit">Search</button>
</form>
<div>
    <% books.forEach(book=> { %>
        <div style="background:yellow;">
            <%=book.title %>
            <br>
            <%=book.publishDate %>
            <br>
            <img src="<%=book.coverImagePath%>" height="150" width="100">
        </div>
        <% }) %>
</div>