<h1>Add New Author</h1>
<form action="/authors" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="" autofocus>
    <button type="submit">Create</button>
    <a href="/authors">Cancel</a>
</form>